:root {
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  margin: 0;
}

.container {
  background: radial-gradient(
    at top,
    rgba(31, 55, 86, 1) 40%,
    rgb(25, 27, 66) 80%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.score-container {
  max-height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  max-width: 700px;
  min-width: 400px;
  margin: 38px auto;
  border: 3px solid var(--Header-Outline);
  border-radius: 15px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  line-height: 1.6563rem;
}

.score-item {
  margin: 12px 30px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
}

#score {
  color: var(--Dark-Text);
  font-size: 3rem;
  font-weight: 700;
}

#score-title {
  color: var(--Score-Text);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.circle {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
}

.mid-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 152px;
  background-color: rgb(225, 225, 225);
  box-shadow: 0 -7px 0 1px rgb(185, 190, 210);
  border-radius: 50%;
}

.hands {
  height: 90px;
}

#sccisors-circle {
  background-color: hsl(40, 84%, 53%);
  box-shadow: 0px 12px 1px rgb(190, 109, 30);
}

#rock-circle {
  background-color: hsl(349, 70%, 56%);
  box-shadow: 0 12px 1px hsl(349, 65%, 41%);
}

#paper-circle {
  background-color: hsl(230, 89%, 65%);
  box-shadow: 0 12px 1px hsl(230, 62%, 53%);
}

.choice3-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  width: 50vw;
  max-width: 700px;
  min-width: 400px;
}

.choices {
  position: absolute;
  width: 50vw;
  max-width: 700px;
  min-width: 400px;
}

#line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

#line2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#rules-btn {
  align-self: flex-end;
  margin: auto 30px 30px;
  color: white;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border: 2px solid var(--Header-Outline);
  border-radius: 10px;
  padding: 10px 35px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  z-index: 2;
}

.modal.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.rules {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.rules-title {
  color: var(--Dark-Text);
  margin-top: 0;
  margin-bottom: 60px;
}

#close-toggler {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.playground {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  letter-spacing: 0.2rem;
  width: 60vw;
  height: 100vh;
  max-width: 700px;
  min-width: 400px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.ground {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 50px 0 100px;
  background-color: rgb(26, 29, 71);
}

.circle-position {
  position: absolute;
  top: -20px;
  left: -30px;
}

.bigger-circle {
  width: 220px;
  height: 220px;
}

.bigger-mid {
  width: 170px;
  height: 170px;
}

.result {
  margin: auto 75px;
}

.win {
  display: none;
}

.lose {
  display: block;
}

#play-again {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 17px;
  border: none;
  z-index: 1;
  cursor: pointer;
}

#play-again:hover {
  color: hsl(349, 70%, 56%);
}

/* Wave circle effect */
.animation-lose {
  position: absolute;
  margin: auto;
  bottom: 0px;
  top: 20%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, 0);
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation-name: wave;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 0;
}

.animation-win {
  position: absolute;
  margin: auto;
  bottom: 0px;
  top: 20%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, 0);
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 0;
}

@keyframes wave {
  0% {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255, 0.9);
  }
  12.5% {
    width: 225px;
    height: 225px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  25% {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  37.5% {
    width: 275px;
    height: 275px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  50% {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  62.5% {
    width: 325px;
    height: 325px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  75% {
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  87.5% {
    width: 375px;
    height: 375px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  100% {
    width: 450px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
