:root {
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

.container {
  background: radial-gradient(
    at top,
    rgba(31, 55, 86, 1) 40%,
    rgb(25, 27, 66) 80%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.score-container {
  max-height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  max-width: 896px;
  margin: 38px auto;
  border: 3px solid var(--Header-Outline);
  border-radius: 15px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  line-height: 1.6563rem;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 12px 30px;
  color: var(--Dark-Text);
  font-size: 3rem;
  font-weight: 700;
}

.score-title {
  color: var(--Score-Text);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.circle {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  cursor: pointer;
}

.circle:hover {
  scale: 1.2;
  transition: all 0.3s;
}

.mid-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 152px;
  background-color: rgb(225, 225, 225);
  box-shadow: 0 -7px 0 1px rgb(185, 190, 210);
  border-radius: 50%;
}

.hands {
  height: 90px;
}

.sccisors-circle {
  background-color: hsl(40, 84%, 53%);
  box-shadow: 0px 12px 1px rgb(190, 109, 30);
}

.rock-circle {
  background-color: hsl(349, 70%, 56%);
  box-shadow: 0 12px 1px hsl(349, 65%, 41%);
}

.paper-circle {
  background-color: hsl(230, 89%, 65%);
  box-shadow: 0 12px 1px hsl(230, 62%, 53%);
}

.selected-animation {
  scale: 1.1;
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.random-animation {
  scale: 1.1;
  animation-name: rollIn;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.choice3-container {
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  width: 50vw;
  max-width: 700px;
  min-width: 400px;
}

.choices {
  position: absolute;
  width: 50vw;
  max-width: 700px;
  min-width: 400px;
}

#line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

#line2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#rules-btn {
  align-self: flex-end;
  margin: auto 30px 30px;
  color: white;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border: 2px solid var(--Header-Outline);
  border-radius: 10px;
  padding: 10px 35px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  z-index: 2;
}

.modal.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.hide {
  display: none;
}

.display {
  display: block;
}

.flex {
  display: flex;
}
.flex {
  display: flex;
}

.rules {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.rules-title {
  color: var(--Dark-Text);
  margin-top: 0;
  margin-bottom: 60px;
}

#close-toggler {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.playground {
  justify-content: space-around;
  flex-direction: row;
  letter-spacing: 0.2rem;
  width: 60vw;
  height: 100vh;
  max-width: 700px;
  min-width: 400px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.ground {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 50px 0 100px;
  background-color: rgb(26, 29, 71);
}

.circle-position {
  position: absolute;
  top: -32px;
  left: -28px;
}

.bigger-circle {
  width: 220px;
  height: 220px;
}

.bigger-mid {
  width: 170px;
  height: 170px;
}

.result {
  margin: auto 75px;
  animation-name: delay;
  animation-duration: 3.5s;
  animation-timing-function: linear;
}

.play-again {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 17px;
  border: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.play-again:hover {
  color: hsl(349, 70%, 56%);
}

/* Wave circle effect */
.animation-lose {
  position: absolute;
  margin: auto;
  bottom: 7px;
  top: 10%;
  left: 51%;
  overflow: hidden;
  transform: translate(-50%, 0);
  width: 160px;
  height: 160px;
  background-color: rgb(26, 29, 71);
  border-radius: 50%;
  animation-name: wave;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s;

  z-index: 0;
}

.animation-win {
  position: absolute;
  margin: auto;
  bottom: 7px;
  top: 8%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, 0);
  width: 160px;
  height: 160px;
  background-color: rgb(26, 29, 71);
  border-radius: 50%;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  z-index: 0;
  animation-timing-function: linear;
}

@keyframes wave {
  0% {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255, 0.9);
  }
  12.5% {
    width: 225px;
    height: 225px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  25% {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  37.5% {
    width: 275px;
    height: 275px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  50% {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  62.5% {
    width: 325px;
    height: 325px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  75% {
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  87.5% {
    width: 375px;
    height: 375px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  95% {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    width: 425px;
    height: 425px;
    background-color: rgba(255, 255, 255, 0.05);
  }
}

@keyframes zoomIn {
  0% {
    scale: 0;
    opacity: 0;
  }
  10% {
    scale: 0.1;
    opacity: 0.1;
  }
  20% {
    scale: 0.2;
    opacity: 0.2;
  }
  30% {
    scale: 0.3;
    opacity: 0.3;
  }
  40% {
    scale: 0.4;
    opacity: 0.4;
  }
  50% {
    scale: 0.5;
    opacity: 0.5;
  }
  60% {
    scale: 0.6;
    opacity: 0.6;
  }
  70% {
    scale: 0.7;
    opacity: 0.7;
  }
  80% {
    scale: 0.8;
    opacity: 0.8;
  }
  90% {
    scale: 0.9;
    opacity: 0.9;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    left: 100vw;
    transform: rotate(1440deg);
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    scale: 0.01;
    opacity: 0;
  }

  90% {
    scale: 0.01;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .score-container {
    width: 70%;
  }
  .score {
    padding: 10px 20px;
    margin: 10px 12px;
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
    line-height: 0.9;
  }

  .circle {
    scale: 0.7;
  }

  #triangle {
    scale: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .score {
    padding: 5px 10px;
    margin: 5px 6px;
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
    line-height: 0.8;
  }

  .line-one {
    margin-bottom: 0;
  }

  #triangle {
    scale: 0.7;
  }

  .choices {
    min-width: 0;
    width: auto;
  }
  .choice3-container {
    min-width: 0;
    width: auto;
  }

  #line1 {
    margin-bottom: 0;
  }

  .playground {
    scale: 0.6;
  }

  @keyframes wave {
    0% {
      width: 100px;
      height: 100px;
      background-color: rgb(255, 255, 255, 0.9);
    }
    12.5% {
      width: 115px;
      height: 115px;
      background-color: rgba(255, 255, 255, 0.8);
    }

    25% {
      width: 125px;
      height: 125px;
      background-color: rgba(255, 255, 255, 0.7);
    }

    37.5% {
      width: 133px;
      height: 133px;
      background-color: rgba(255, 255, 255, 0.6);
    }

    50% {
      width: 150px;
      height: 150px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    62.5% {
      width: 163px;
      height: 163px;
      background-color: rgba(255, 255, 255, 0.4);
    }

    75% {
      width: 175px;
      height: 175px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    87.5% {
      width: 187px;
      height: 187px;
      background-color: rgba(255, 255, 255, 0.2);
    }

    95% {
      width: 200px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
      width: 213px;
      height: 213px;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  #rules-btn {
    scale: 0.75;
  }
}
